NET "clk25" LOC="P40" | IOSTANDARD=LVCMOS33 | PERIOD=25 MHz | CLOCK_DEDICATED_ROUTE=FALSE;

//NET "RxD" LOC=P21;
//NET "TxD" LOC=P30;

NET "TMDSn[2]"     IOSTANDARD=TMDS_33;
NET "TMDSn[1]"     IOSTANDARD=TMDS_33;
NET "TMDSn[0]"     IOSTANDARD=TMDS_33;
NET "TMDSn_clock"  IOSTANDARD=TMDS_33;

NET "TMDSp[2]"    LOC="P48" | IOSTANDARD=TMDS_33;  # red
NET "TMDSp[1]"    LOC="P43" | IOSTANDARD=TMDS_33;  # green
NET "TMDSp[0]"    LOC="P36" | IOSTANDARD=TMDS_33;  # blue
NET "TMDSp_clock" LOC="P34" | IOSTANDARD=TMDS_33;  # clock

